.auth-form-box{
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    width: 470px;
    margin: auto;
    border-radius: 15px;
    .auth-form-header{
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        margin-bottom: 50px;
        padding-bottom: 50px;
        .auth-icon{
            background-color: #F02B2F;
            padding: 25px;
            border-radius: 360px;
         
            i{
                color: #fff;
                font-size: 25px; 
            }

        }
      
    }

    // form{
    //     button{
    //         background-color: #F02B2F;
    //         color: #fff;
    //         width: 100%;
    //         padding: 15px 0;
    //     }
    // }
    
}