header{
    .logo{
     z-index: 999;
     margin-top: 50px;
     }
     .main-nav {
         z-index: 999;
         margin-top: 50px;
        //  font-family: Noto Sans Georgian;
         .nav-link{
             color: #fff;
         }
 
     }
     .quick-nav {
         z-index: 999;
         margin-top: 50px;
         .fixed-cart{
             position: fixed;
             right: 20px;
             z-index: 999;
             background-color: #F02B2F;
             width: 50px;
             height: 50px;
             border-radius: 360px;
         }
         .login-route{
             margin-right: 80px;
         }
         i{
             color: #fff;
          
         }
     } 
 }

 