<footer class="container-fluid">
    <section class="container">
        <div class="row">
            <div class="col">
                <h3 class="section-title">ჩვენი მისამართი</h3>
                <p class="text-muted">ქალაქი ქუჩა N5</p>
            </div>
            <div class="col">
                <h3 class="section-title">პირობები</h3>
                <nav>
                    <ul>
                        <li>
                            <a class="text-muted" href="#">დაბრუნების პოლიტიკა</a>
                        </li>
                        <li>
                            <a class="text-muted" href="#">მიტანის სერვისი</a>
                        </li>
                        <li>
                            <a class="text-muted" href="#">კონფიდენციალურობის პოლიტიკა</a>
                        </li>
                    </ul>   
                </nav>
            </div>
            <div class="col">
                <h3 class="section-title">დაგვიმეგობრდი</h3>
                <nav>
                    <ul class="d-flex">
                        <li>
                            <a href="#"><i class="fab fa-facebook text-muted"></i></a>
                          
                        </li>
                        <li>
                              <a href="#"><i class="fab fa-instagram text-muted"></i></a>
                        </li>
                    </ul>   
                </nav>
            </div>
            <div class="col">
                <h3 class="section-title">დაგვიკავშირდი</h3>
                <p class="text-muted phone-number">032 2 22 22 22</p>
                <p class="text-muted email-address">hotPizza@gmail.com</p>
            </div>
        </div>
    </section>
</footer>