.cover-video{
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: -124px;
}

.product-container {
    background-color: #fff;
    margin-top: -50px;
    // border-radius: 30px;
    overflow: overlay;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
   
    .filter-box {
        .my-search-box{
            .my-search{
                width: unset;
            }
        }
        .my-category-box{
           
            label:hover{
                background-color: #F02B2F;
                color: #fff;
            }
        }
    }
}

.cart-box{
    .cart-item{
        overflow: hidden;
        margin-bottom: 20px;
      
      .remove-item-btn{
          position: absolute;
          bottom: -50px;
          right: -50px;
        //   color: #fff;
          border-radius: 360px;
          width: 100px;
          height: 100px;
         
          i{
            position: absolute;
          top: 20px;
          left: 20px;
          color: #c4c4c4;
          }
      }
       .remove-item-btn:hover{
             background-color: #F02B2F; 
             i{
                 color: #fff;
             }
          }
    }
    .offcanvas-footer{
        background-color: #F02B2F;
        color: #fff;
    }
}
.cart-item-quantity{
    display: inline-block;
    width: 50px;
    border: unset;
}